
// Body
//$body-bg: #f5f8fa;

// Borders
//$laravel-border-color: darken($body-bg, 10%);
//$list-group-border: $laravel-border-color;
//$navbar-default-border: $laravel-border-color;
//$panel-default-border: $laravel-border-color;
//$panel-inner-border: $laravel-border-color;

// Brands
$c_sky: #b3cde8;
$c_blue: #6698cc;
$c_gray: #bdc9d3;
$c_darkblue: #4d6781;
$c_darkgray: #8b96a6;

// Typography
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//$font-family-sans-serif: "Raleway", sans-serif;
//$font-size-base: 14px;
//$line-height-base: 1.6;
//$text-color: #636b6f;

// Navbar
//$navbar-default-bg: #fff;

// Buttons
//$btn-default-color: $text-color;

// Inputs
//$input-border: lighten($text-color, 40%);
//$input-border-focus: lighten($brand-primary, 25%);
//$input-color-placeholder: lighten($text-color, 30%);

// Panels
//$panel-default-heading-bg: #fff;
